<!DOCTYPE html>
<html>
  <head>
    <title>CivPlaces</title>
    <link rel="stylesheet" href="./stylesheets/menu.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="/">
        <h1>CivPlaces</h1>
      </a>
    </nav>
    <div id="main">