<%- include("partials/header") %>
<h2>Submission</h2>
<p>Thank you for your submission! If you are not automatically redirected, click the button below.</p>
<a href="/"><button id='returnButton'>Go Back</button></a>
<%- include("partials/footer") %>