/* ********************************************************************* */
/* Variables */
:root {
  --primary-color: rgba(68, 113, 237, 0.8);
}

/* ********************************************************************* */
/* Global Style */
* {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
}

/* ********************************************************************* */
/* Non-Responsive Style */
a {
  text-decoration: none;
  color: #fff;
}
button {
  background:linear-gradient(to bottom, #6f90eb 5%, #2047b3 100%);
	background-color:#6f90eb;
	cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.45);
  border-radius: 16px;
  border: 0px solid var(--primary-color);
  padding: 12px;
  margin: 10px 100px;
  left: 0px;
  position: relative;
}
button:hover {
  background:linear-gradient(to bottom, #2047b3 5%, #6f90eb 100%);
  background-color:#2047b3;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#form-wrapper {
  display: flex;
  flex-direction: column;
}
h1 {
  padding-left: 10px;
  font-size: 3rem;
}
h2 {
  margin-bottom: 15px;
}
input {
  width: 100%;;
  height: 160px;
}
#main {
  padding: 15px;
}
nav {
  height: 75px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}
p {
  margin-bottom: 15px;
}
#returnButton {
  margin-left: 0px;
}
textarea {
  resize: none;
  width: 100%;
  height: 50%;
}

/* ********************************************************************* */
/* Responsive Style/Media Queries */
/* Mobile */
@media (max-width: 800px){
  /* textarea {
    height: 50%;
  } */
  h1 {
    background-color: red;
  }
}

/* Laptop/Desktop */
@media (min-width:801px) and (max-width:900px) {
  /* #form-wrapper {
    width: 40%;
  } */
  h1 {
    background-color: green;
  }
}

@media (min-width:901px) {
  h1 {
    background-color: yellow;
  }
}